## Concatenate, Join and Merge Data Frames
We can combine dataframes in similar fashion to SQL joins, which are based on set theory. 

<img src="sql_joins.png">

### Concatenate Data Frames
Concatenating dataframes joins them together either by adding one dataframe on to the end of the other, or side by side. 

This is the perfect way to quickly add together two dataframes of the same length. 

Let's create some dummy dataframes:

In [ ]:
raw_data = {
        'subject_id': ['1', '2', '3', '4', '5'],
        'first_name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'], 
        'last_name': ['Anderson', 'Ackerman', 'Ali', 'Aoni', 'Atiches']}
df1 = pd.DataFrame(raw_data, columns = ['subject_id', 'first_name', 'last_name'])
df1

In [ ]:
raw_data = {
        'subject_id': ['4', '5', '6', '7', '8'],
        'first_name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'], 
        'last_name': ['Bonder', 'Black', 'Balwner', 'Brice', 'Btisan']}
df2 = pd.DataFrame(raw_data, columns = ['subject_id', 'first_name', 'last_name'])
df2

`pd.concat([list of DataFrames], axis=0, join='outer', ignore_index=False)`

The concat() method takes a list of dataframes and the following arguments: 
- axis = 0 to join along rows, axis=1 join along columns
- join = 'outer', 'left', 'right'
- ignore_index = True to keep original row labels

### Concat along columns

In [ ]:
pd.concat([df1,df2], axis=1, join="outer")

### Concat along rows

In [ ]:
pd.concat([df1,df2], axis=0, join="inner")

## Merge "join" two Data Frames

#### Left Join

In [ ]:
result = pd.merge(df1, df2, on='subject_id', how="left")
result.head()

#### Inner Join (default)

In [ ]:
# inner join is default
result1 = pd.merge(df1, df2, on='subject_id', how="inner") 
result1.head()

#### Outer Join

In [ ]:
result2 = pd.merge(df1, df2, on='subject_id', how='outer') 
result2.head()

#### Right Join

In [ ]:
result3 = pd.merge(df1, df2, on='subject_id', how='right') 
result3.head()

#### Merge when columns to merge on have different names

In [ ]:
df1

In [ ]:
df2.columns = ["id", "first_name", "last_name"]

In [ ]:
df2

In [ ]:
resust = pd.merge(df1, df2, left_on='subject_id', right_on='id')
result.head()